* {

    margin: 0%;
    padding: 0%;

}

body {

    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}

#area-principal{

    width: 720px;
    margin: 55px auto 10px auto;
   
}

#imagemSobreSite{

    margin-top: 10px;

}

#divSobreSite{

    height: 100px;
    width: 980px;

    box-sizing: border-box;

    position: relative;
    border: auto solid black;
    margin-top: 20px;
    margin-right: auto;
    padding: 20px;

}

#formulario{

    margin-top: 10%;
    width: 50%;

}

#texto_login{

    text-align: center;
    border: 10px solid black;

}

.textoSuperiorFormulario{

   margin-left: 5px;
   margin-top: 10px;

}

#textoSobrenome{

    margin-left: 180px;

}

.divExternaFormulario{

    margin-left: 20px;
    margin-top: 10px;

}

.marginTop{

    margin-top: 10px;

}

.caixaFormulario{

    width: 50%;

}

p{

    font-size: 180%;
    

}


